set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.FrontPanel")

if(PLUGIN_FRONTPANEL_STARTUPORDER)
set (startuporder ${PLUGIN_FRONTPANEL_STARTUPORDER})
endif()


map()
   key(root)
   map()
       kv(mode ${PLUGIN_FRONTPANEL_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)
