set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.LEDControl")

if(PLUGIN_LEDCONTROL_STARTUPORDER)
set (startuporder ${PLUGIN_LEDCONTROL_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_LEDCONTROL_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
    end()
end()
ans(configuration)
